<div style="display: none" id="loader" class="space">
    <h3 class="text-center">Chargement en cours ... Veuillez patienter</h3>
    <div class="progress">
        <div id="crud-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"
             aria-valuenow="25"
             aria-valuemin="0" aria-valuemax="100">0%
        </div>
    </div>
</div>