{% block easy_crud_file_type_widget %}
    <div id="{{ id }}-area" class="file-drop-area">
        <span class="fake-btn center"><i class="fa fa-file"></i> Parcourir ...</span>
        <span class="file-msg center">ou glissé/deposé votre fichier ...</span>
        <input {{ block('widget_attributes') }} type="file">
    </div>


    <script type="text/javascript">
        var $fileInput = $('#{{ id }}');
        var $droparea = $('#{{ id }}-area');

        // highlight drag area
        $fileInput.on('dragenter focus click', function () {
            $droparea.addClass('is-active');
        });

        // back to normal state
        $fileInput.on('dragleave blur drop', function () {
            $droparea.removeClass('is-active');
        });

        // change inner text
        $fileInput.on('change', function () {
            var filesCount = $(this)[0].files.length;
            var $textContainer = $(this).prev();

            if (filesCount === 1) {
                // if single file is selected, show file name
                var fileName = $(this).val().split('\\').pop();
                $textContainer.text(fileName);
            } else {
                // otherwise show number of files
                $textContainer.text(filesCount + ' files selected');
            }
        });
    </script>
{% endblock %}